<section>
    <div class="presentation">
        <h2 class="name-presentation">Guillermo Barroso Canto</h2>
        <h3>Programador Web</h3>
    </div>

    <div class="description">        
        <figure class="img-profile">
            <a title="Instagram" href="https://www.instagram.com/guillebarroso98" target="_blank"><img src="assets/images/yo.jpg" alt="Foto de Guillermo"></a>
        </figure>
        <div>
            <h4>¡Bienvenido a mi Portfolio!</h4>
            <p>
                ¡Hola! Me llamo Guillermo y esta es mi web. Aquí podrás ver los proyectos
                personales que he ido desarrollando en el tiempo que llevo como programador,
                además de mi Curriculum.
            </p>
            <p>            
                Llevo formandome como programador desde 2019, que fue el año en el que decidí
                cursar el grado de Desarrollo de Aplicaciones Web. Recién lo terminé (en junio de 2021)
                y ahora me toca ser autodidacta, así que estoy realizando proyectos por mi cuenta para 
                aprender nuevas tecnologías y seguir a la orden del día.
            </p>
            <p>
                Culquier duda o sugerencia que tengas sobre el diseño, sobre los proyectos o cualquier cosa
                no dudes en ponerte en contacto conmigo.
            </p>
        </div>                  
    </div>

    <div class="contact">
        <h4>Contáctame</h4>
        <p>Puedes contactarme por cualquiera de estas plataformas</p>
        <div class="contact-icons">
            <a href="https://www.linkedin.com/in/guillermo-barroso-5892ab1a9/"><i class="fab fa-linkedin"></i></a>
            <a href="https://mail.google.com/mail/u/0/#search/guillebarroso98%40gmail.com"><i class="fas fa-envelope"></i></a>
            <a href="http://m.me/guillermo.barroso.5680"><i class="fab fa-facebook-messenger"></i></a>
        </div>
        <!-- <p>O directamente escríbeme por aquí</p>
        <form id="" class="" method="post" action="">        
            <div class="">
                <label for="Name" class="">Your name</label>
                <div class="">
                    <input type="text" id="Name" name="Name" class="" required>
                </div>
            </div>    
            <div class="">
                <label for="Email" class="">Your email address</label>
                <div class="">
                    <input type="email" id="Email" name="Email" class="" required>
                </div>
            </div>
    
            <div class="">
                <label for="Message" class="">Your message</label>
                <div class="">
                    <textarea id="Message" name="Message" class="" rows="6" maxlength="3000" required></textarea>
                </div>
            </div>
    
            <div class="">
                <button type="submit" id="" class="">Send Message</button>
            </div>    
        </form> -->
    </div>
    
</section>

