<section>
    <h2>Proyectos</h2>
    <p>¡Echa un vistazo a los proyectos que he ido desarrollando estos años!</p>
    <div class="projects">
        <div class="project">
            <h3>TFG</h3>
            <div class="project-tools">
                <a title="Docker" href="https://www.docker.com/"><i class="fab fa-docker"></i></a>
                <a title="JavaScript" href="https://developer.mozilla.org/es/docs/Web/JavaScript"><i class="fab fa-js-square"></i></a>
                <a title="PHP" href="https://www.php.net/"><i class="fab fa-php"></i></a>
                <a title="MariaDB" href="https://mariadb.org/"><i class="fas fa-database"></i></a>
                <a title="CSS" href="https://developer.mozilla.org/es/docs/Web/CSS"><i class="fab fa-css3-alt"></i></a>
                <a title="HTML" href="https://developer.mozilla.org/es/docs/Web/HTML"><i class="fab fa-html5"></i></a>
            </div>
            <p>
                Se trata de una SPA (Single Aplication Web) donde los usuarios pueden subir sus instrumentos y contactar 
                con sus clientes para alquilarlos a partir de un chat. La web fue diseñada
                como una API REST, separando la programación del lado de cliente con la del 
                lado del servidor, enviando los datos en formato JSON a través del protocolo HTTP. 
                Debido a la forma de diseñar la aplicación elegida, se hizo uso de dos frameworks: 
                Laravel en el lado del servidor y React en el lado del cliente. El motor de bases de datos utilizados es MariaDB. 

            </p>
            <p>
                Los enlaces a git están divididos en dos: la parte del back (Laravel) y la del front (React).
                Dado que el proyecto está desplegado en docker, también hay un enlace a dockerhub.
            </p>
            <div class="project-github">
                <a title="Parte cliente" href="https://github.com/guillebarroso/proyecto-cliente"><i class="fab fa-github"></i></a>
                <a title="Parte servidor" href="https://github.com/guillebarroso/proyecto-servidor"><i class="fab fa-github"></i></a>
                <a title="Parte servidor" href="https://hub.docker.com/repository/docker/guillebarroso/proyecto-prueba"><i class="fab fa-docker"></i></a>
            </div>
        </div>
        <div class="project">
            <h3>Click Competition</h3>
            <div class="project-tools">
                <a title="Docker" href="https://www.docker.com/"><i class="fab fa-docker"></i></a>
                <a title="Java" href="https://www.java.com/es/"><i class="fab fa-java"></i></a>
                <a title="JavaScript" href="https://developer.mozilla.org/es/docs/Web/JavaScript"><i class="fab fa-js-square"></i></a>
                <a title="CSS" href="https://developer.mozilla.org/es/docs/Web/CSS"><i class="fab fa-css3-alt"></i></a>
                <a title="HTML" href="https://developer.mozilla.org/es/docs/Web/HTML"><i class="fab fa-html5"></i></a>
            </div>
            <p>
                Se trata de una API REST que consiste en ir acumulando clicks sobre 
                rectángulos que cambian de lugar cada x número determinado de clicks. 
                Para el front se usó JavaScript con peticiones AJAX y para el back Spring 
                Boot + Hibernate + H2 Database.
            </p>
            <p>
                En la aplicación se usa tokens para autenticar a los usuarios.
            </p>
            <div class="project-github">
                <a href="https://github.com/guillebarroso/clickcompetitionbase"><i class="fab fa-github"></i></a>
            </div>
        </div>
        <div class="project">
            <h3>CRUD</h3>
            <div class="project-tools">
                <a title="Docker" href="https://www.docker.com/"><i class="fab fa-docker"></i></a>
                <a title="JavaScript" href="https://developer.mozilla.org/es/docs/Web/JavaScript"><i class="fab fa-js-square"></i></a>
                <a title="PHP" href="https://www.php.net/"><i class="fab fa-php"></i></a>
                <a title="MariaDB" href="https://mariadb.org/"><i class="fas fa-database"></i></a>
                <a title="CSS" href="https://developer.mozilla.org/es/docs/Web/CSS"><i class="fab fa-css3-alt"></i></a>
                <a title="HTML" href="https://developer.mozilla.org/es/docs/Web/HTML"><i class="fab fa-html5"></i></a>
            </div>
            <p>
                Aplicación hecha en PHP para gestiorar el CRUD (Creación, consulta, 
                modificación y borrado) de una tabla incluyendo login/logout de usuarios 
                para poder acceder. La aplicación consistirá en una página de login que 
                debe comprobar nombre de usuario y contraseña (almacenados en una tabla 
                creada al inicializar la base de datos), una principal donde aparecerá 
                el listado de las filas almacenadas en la tabla y otra con el formulario 
                para dar de alta filas o editarlas.            
            </p>
            <div class="project-github">
                <a href="https://github.com/guillebarroso/crudPHP"><i class="fab fa-github"></i></a>
            </div>
        </div>
        <div class="project">
            <h3>Lista de tareas</h3>
            <div class="project-tools">
                <a title="JavaScript" href="https://developer.mozilla.org/es/docs/Web/JavaScript"><i class="fab fa-js-square"></i></a>
                <a title="Firebase" href="https://firebase.google.com/?hl=es"><i class="fas fa-database"></i></a>
                <a title="CSS" href="https://developer.mozilla.org/es/docs/Web/CSS"><i class="fab fa-css3-alt"></i></a>
                <a title="HTML" href="https://developer.mozilla.org/es/docs/Web/HTML"><i class="fab fa-html5"></i></a>
            </div>
            <p>
                Block de notas realizado en React JS + Firebase donde el usuario puede crear, 
                editar y borrar cualquier nota que escriba. Para ello, antes tienes que 
                loguearte o registrarte.
            </p>
            <div class="project-github">
                <a href="https://github.com/guillebarroso/Bloc-Notas-React"><i class="fab fa-github"></i></a>
            </div>
        </div>
        <div class="project">
            <h3>Instagram</h3>
            <div class="project-tools">
                <a title="Docker" href="https://www.docker.com/"><i class="fab fa-docker"></i></a>
                <a title="JavaScript" href="https://developer.mozilla.org/es/docs/Web/JavaScript"><i class="fab fa-js-square"></i></a>
                <a title="PHP" href="https://www.php.net/"><i class="fab fa-php"></i></a>
                <a title="MariaDB" href="https://mariadb.org/"><i class="fas fa-database"></i></a>
                <a title="CSS" href="https://developer.mozilla.org/es/docs/Web/CSS"><i class="fab fa-css3-alt"></i></a>
                <a title="HTML" href="https://developer.mozilla.org/es/docs/Web/HTML"><i class="fab fa-html5"></i></a>
                <a title="Bootstrap" href="https://getbootstrap.com/"><i class="fab fa-bootstrap"></i></a>
            </div>
            <p>
                Este proyecto se trata de una aplicación web que intentará imitar a Instagram.
                Se podrá crear usuarios, subir fotos y comentarlas. Realizada en Laravel siguiendo
                el modelo MVC (Modelo, Vista, Controlador). La base de datos será MariaDB. EL proyecto está
                desplegado en Docker.
            </p>
            <div class="project-github">
                <a href=""><i class="fab fa-github"></i></a>
            </div>
        </div>
    </div>
</section>