.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
  box-shadow: 1px 0 5px -2px #888;
}

.mat-toolbar{
  background-color: #242d2a;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}