<header class="principal">
    <div class="contenedorImagen">
        <div class="cuadroImagen">
            <img src="./assets/images/fotocv.jpeg" alt="Yo">
        </div>
    </div>

    <div class="info">
        <h1 class="nombre">Guillermo Barroso Canto</h1>
        <h2>Desarrollador web</h2>
        <div class="sobreMi">
            <h3>Sobre mi</h3>
            <p>
                Estudiante del último año del grado superior de Desarrollo de Aplicaciones Web. Me considero una persona
                responsable, con mucha motivación y que le gusta aprender constantemente. Deseoso de formar parte del
                mundo laboral y poder desarrollarme profesionalmente.
            </p>
            <div class="datos">
                <ul id="listas">
                    <li>
                        <i class="fas fa-location-arrow"></i>
                        San Fernando (Cádiz)
                    </li>
                    <li>
                        <i class="fas fa-birthday-cake"></i>
                        11 de marzo de 1998
                    </li>
                    <li>
                        <i class="fas fa-envelope-square"></i>
                        <a class="enlaceMenu" href="mailto:guillebarroso98@gmail.com"> guillebarroso98@gmail.com</a>
                    </li>
                    <li>
                        <i class="fab fa-instagram"></i>
                        <a class="enlaceMenu" href="https://www.instagram.com/guillebarroso98/"> @guillebarroso98</a>
                    </li>
                </ul>
                <ul id="listas">
                    <li>
                        <i class="fab fa-linkedin-in"></i>
                        <a class="enlaceMenu" href="https://www.linkedin.com/in/guillermo-barroso-5892ab1a9/"> https://www.linkedin.com/in/guillermo-barroso-5892ab1a9/</a>
                    </li>
                    <li>
                        <i class="fas fa-language"></i>
                        Nivel de Inglés: B2
                    </li>
                    <li>
                        <i class="fas fa-car"></i>
                        Permiso de conducir: B
                    </li>
                </ul>
            </div>
        </div>
    </div>
</header>

<nav>
    <div id="menu">

        <ul id="listas">
            <li>
                <a href="/cv#educacion">Estudios</a>
            </li>
            <li>
                <a href="/cv#cursos">Cursos y certificaciones</a>
            </li>
            <li>
                <a href="/cv#voluntariados">Voluntariados</a>
            </li>
        </ul>
    </div>
</nav>
<main>
    <section>
        <div class="educacion" id="educacion">
            <div class="titulo">
                <h2>Estudios</h2>
            </div>
            <div class="contenido1">
                <section>
                    <h3>Formación Profesional</h3>
                    <p>
                        Actualidad
                    </p>
                    <h4>
                        I.E.S Rafael Alberti, Cádiz. Técnico Superior en Desarrollo de Aplicaciones Web
                    </h4>
                </section>
                <section>
                    <h3>Bachillerato</h3>
                    <p>
                        2016
                    </p>
                    <h4>
                        I.E.S Sancti Petri, Bachillerato de ciencias
                    </h4>
                </section>
                <section>
                    <h3>Educación Secundaria Obligatoria</h3>
                    <p>
                        2014
                    </p>
                    <h4>
                        I.E.S Sancti Petri. ESO en bilingüe.
                    </h4>
                </section>
            </div>
        </div>
        <div class="cursos" id="cursos">
            <div class="titulo">
                <h2>Cursos y certificaciones</h2>
            </div>
            <div class="contenido2">
                <section>
                    <h3>Cursos</h3>
                    <div>
                        <h4>Responsive Web Design</h4>
                        <p>
                            2020
                        </p>
                        <p>
                            Openwebinars
                        </p>
                        <p>
                            https://openwebinars.net/
                        </p>
                    </div>
                    <div>
                        <h4>Introducción al Community Management</h4>
                        <p>
                            2020
                        </p>
                        <p>
                            Domestika
                        </p>
                        <p>
                            https://www.domestika.org/es
                        </p>
                    </div>
                    <div>
                        <h4>Curso de JavaScript intermedio</h4>
                        <p>
                            2020
                        </p>
                        <p>
                            Openwebinars
                        </p>
                        <p>
                            https://openwebinars.net/
                        </p>
                    </div>
                </section>
                <section>
                    <h3>Certificaciones</h3>
                    <div>
                        <h4>B1 Preliminary</h4>
                        <p>
                            2015
                        </p>
                        <p>
                            Cambridge Assessment International Education (2015)
                        </p>
                    </div>
                    <div>
                        <h4>Socorrismo y Primeros Auxilios (40 horas)</h4>
                        <p>
                            2018
                        </p>
                        <p>
                            Cruz Roja Española
                        </p>
                    </div>

                </section>

            </div>

        </div>
        <div class="voluntariados" id="voluntariados">
            <div class="titulo">
                <h2>Voluntariados</h2>
            </div>
            <div class="contenido3">
                <section>
                    <div id="proyectos">
                        <h3>YOUTHEUROPA Slovenia</h3>

                    </div>
                    <p>
                        2018-10
                    </p>

                    <p class="infor_proyecto">
                        Young people need to develop job skills that are needed for labour market and in that
                        way be more competitive and qualified for future employment. The youth exchange
                        should contribute to the personal and social development of the young participants and
                        work on their Emotional Intelligence and People Management skills. <br>
                        Participaron Eslovenia, Estonia, Lituania, España, Croacia y Bulgaria
                    </p>
                </section>
                <section>
                    <div id="proyectos">
                        <h3>YOUTHEUROPA Spain</h3>

                    </div>
                    <p>
                        2019-05
                    </p>

                    <p class="infor_proyecto">
                        The main goal of the project is to develop
                        cooking skills and learn about European gastronomy and more specifically into the
                        participant’s countries gastronomy. Regarding the other half of the workshops and
                        activities, we will also approach other topics related to food like nutrition, raising
                        awareness of the wasting food problem, or other creative workshops. <br>

                        Participaron Eslovenia, Rumanía, Francia, España, Hungría y Portugal
                    </p>
                </section>
                <section>
                    <div id="proyectos">
                        <h3>ARE YOU READY Spain</h3>

                    </div>

                    <p>
                        2019-08
                    </p>

                    <p class="infor_proyecto">
                        This project intends to open the horizons of creative, proactive and innovative
                        thinking that are so much needed in crisis situation. Moreover, this new approach helps
                        in creating more opportunities and adequate conditions for the inclusion of the
                        youngsters in the labour market. This also come from our desire to re-design the
                        nowadays labour market model in one more attractive and proper for the youth and
                        promote it. The youth-exchange also intends transmit to the young participants the
                        desire to develop their own business ideas. <br>
                        Participaron Italia, Rumanía, Estonia, España, Turquía y Portugal
                    </p>
                </section>
                <section>
                    <div id="proyectos">
                        <h3>BACKSLASH Suecia</h3>

                    </div>

                    <p>
                        2019-09
                    </p>

                    <p class="infor_proyecto">
                        Hate Speech around the Europe? How Hate Speech looks like in participants
                        countries? Exploring the realities in participants countries through interactive
                        presentations prepare by national teams. <br>
                        Participaron Bulgaria, Rumanía, Estonia, España, Lituania, Reino Unido, Polonia,
                        Macedonia Turquía y Suecia
                    </p>
                </section>

            </div>

        </div>
    </section>

</main>