/* HOME */

body{
    margin: 0 auto ;
}
  
a:link, a:visited, a:active {
    color: var(--colorPrincipal);
    text-decoration:none;
    font-weight: bold;
}
a:hover{
color: var(--colorSecundario);
}
  
.enlaceMenu:link, .enlaceMenu:visited, .enlaceMenu:active {
text-decoration:none;
font-weight: 400;
}
.enlaceMenu:hover {
color: var(--colorSecundario);
}

/* MAIN */

.contenido1, .contenido2, .contenido3{
    padding-top: 2%;
    padding-bottom: 2%;
}
div>section{
    padding-bottom: 2%;
}  
  
.educacion, .cursos, .voluntariados{
    display: flex;
}
  
.titulo{
    width: 35%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.titulo h2{
    color: var(--colorPrincipal);
}
  
.contenido1, .contenido2, .contenido3 {
    width: 65%;
    text-align: center;
}
.contenido1{
    background-color: #e1e4dc;
    margin: auto;
}
.contenido2{
    background-color: #f0f0e7;
}
.contenido3{
    background-color: #f9f9f9;
}
.infor_proyecto{
    text-align: left;
}
div > section{
    width: 80%;
    margin: auto;
}

section h3{
    font-weight: bold;
}

section h4{
    font-weight: bold;
    color: var(--colorSecundario);
}
/* MENU */

.principal{
    height: 90vh;
    display: flex;
}

.principal h1, .principal h2{
    text-align: center;
}

.principal h1{
    font-size: 2rem;

}
.principal h2{
    color: var(--colorSecundario);
}

  
.contenedorImagen{
    width: 35%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10vh 5vh;
}
  
.cuadroImagen{
    position: relative;
    width: 30vw;
    height: 30vw;
    overflow: hidden;
    border-radius: 50%;
}

img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.info{
    width: 65%;
    display: flex;
    flex-direction: column;
    padding: 10vh 5vh;
}
.datos{
    display: flex;
}
.datos ul{
    width: 50%;
}

/* NAV */

.sobreMi p ,.infor_proyecto{
    text-align: justify;    
}


nav ul{
    display: flex;
    height: 10vh;
    justify-content: space-evenly;
    align-items: center;
    margin: 0 auto;
}
  
#listas{
    list-style-type:none;
    padding: 0;
}
#listas li{
    padding-bottom: 2vh;
}

/* RESPONSIVE */

@media screen and (max-width: 850px) {
    .principal{
        height: auto;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .info{
        padding:0;
    }
    .contenedorImagen{
        width: 50%;
    }
    .cuadroImagen{
        width: 50vw;
        height: 50vw;
        min-width: 250px;
        min-height: 250px;
    }
}
  
@media screen and (max-width: 670px) {
    .datos{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    nav{
        border-bottom: 1px solid #0481c3;
    }
    
    .educacion, .cursos, .voluntariados{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .contenido1, .contenido2, .contenido3, .titulo{
        width: 100%;
    }
    #listas{
        margin: 0;
    }
    
}
@media screen and (max-width: 500px) {
    /* .datos{
        align-items: normal;
    } */
}

@media screen and (max-width: 450px) {
    nav{
        padding-top: 2vh;
    }
    nav ul{
        height: auto;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #listas li{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;      
    }
    #listas li i{
        font-size: 1.5rem;
        margin: 1rem;    
    }
}
  
  